pre-wicket.1.2.5/wicket-parent/src/site/resources/DTD/wicket-1.0-xhtml11.dtd

<!-- File: wicket-1.0-xhtml.dtd

XHTML 1.1 DTD with support for wicket 1.0 ids and custom tags.

Public and System Identifiers:

	PUBLIC "-//Wicket//DTD Wicket XHTML Extensions 1.0//EN"
	SYSTEM "http://wicket.sourceforge.net/DTD/wicket-xhtml1.dtd"

The corresponding DOCTYPE declaration:

	<!DOCTYPE html PUBLIC "-//Wicket//DTD Wicket XHTML Extensions 1.0//EN" "http://www.wicket.sourcefore.org/DTD/wicket-xhtml1.dtd">
-->
<!-- extending tags with attribute wicket:id -->

<!-- structure tags -->
<!ATTLIST html
	wicket:id CDATA #IMPLIED
>
<!ATTLIST head
	wicket:id CDATA #IMPLIED
>
<!ATTLIST title
	wicket:id CDATA #IMPLIED
>
<!ATTLIST body
	wicket:id CDATA #IMPLIED
>

<!-- text -->
<!ATTLIST abbr
	wicket:id CDATA #IMPLIED
>
<!ATTLIST acronym
	wicket:id CDATA #IMPLIED
>
<!ATTLIST address
	wicket:id CDATA #IMPLIED
>
<!ATTLIST blockquote
	wicket:id CDATA #IMPLIED
>
<!ATTLIST br
	wicket:id CDATA #IMPLIED
>
<!ATTLIST cite
	wicket:id CDATA #IMPLIED
>
<!ATTLIST code
	wicket:id CDATA #IMPLIED
>
<!ATTLIST dfn
	wicket:id CDATA #IMPLIED
>
<!ATTLIST div
	wicket:id CDATA #IMPLIED
>
<!ATTLIST em
	wicket:id CDATA #IMPLIED
>
<!ATTLIST h1
	wicket:id CDATA #IMPLIED
>
<!ATTLIST h2
	wicket:id CDATA #IMPLIED
>
<!ATTLIST h3
	wicket:id CDATA #IMPLIED
>
<!ATTLIST h4
	wicket:id CDATA #IMPLIED
>
<!ATTLIST h5
	wicket:id CDATA #IMPLIED
>
<!ATTLIST h6
	wicket:id CDATA #IMPLIED
>
<!ATTLIST kbd
	wicket:id CDATA #IMPLIED
>
<!ATTLIST p
	wicket:id CDATA #IMPLIED
>
<!ATTLIST pre
	wicket:id CDATA #IMPLIED
>
<!ATTLIST q
	wicket:id CDATA #IMPLIED
>
<!ATTLIST samp
	wicket:id CDATA #IMPLIED
>
<!ATTLIST span
	wicket:id CDATA #IMPLIED
>
<!ATTLIST strong
	wicket:id CDATA #IMPLIED
>
<!ATTLIST var
	wicket:id CDATA #IMPLIED
>

<!-- hypertext -->
<!ATTLIST a
	wicket:id CDATA #IMPLIED
>

<!-- list -->
<!ATTLIST dl
	wicket:id CDATA #IMPLIED
>
<!ATTLIST dt
	wicket:id CDATA #IMPLIED
>
<!ATTLIST dd
	wicket:id CDATA #IMPLIED
>
<!ATTLIST ul
	wicket:id CDATA #IMPLIED
>
<!ATTLIST ol
	wicket:id CDATA #IMPLIED
>
<!ATTLIST li
	wicket:id CDATA #IMPLIED
>

<!-- presentation -->
<!ATTLIST b
	wicket:id CDATA #IMPLIED
>
<!ATTLIST big
	wicket:id CDATA #IMPLIED
>
<!ATTLIST hr
	wicket:id CDATA #IMPLIED
>
<!ATTLIST i
	wicket:id CDATA #IMPLIED
>
<!ATTLIST small
	wicket:id CDATA #IMPLIED
>
<!ATTLIST sub
	wicket:id CDATA #IMPLIED
>
<!ATTLIST sup
	wicket:id CDATA #IMPLIED
>
<!ATTLIST tt
	wicket:id CDATA #IMPLIED
>

<!-- edit -->
<!ATTLIST del
	wicket:id CDATA #IMPLIED
>
<!ATTLIST ins
	wicket:id CDATA #IMPLIED
>

<!-- bidirectional -->
<!ATTLIST bdo
	wicket:id CDATA #IMPLIED
>

<!-- forms -->
<!ATTLIST form
	wicket:id CDATA #IMPLIED
>
<!ATTLIST input
	wicket:id CDATA #IMPLIED
>
<!ATTLIST select
	wicket:id CDATA #IMPLIED
>
<!ATTLIST option
	wicket:id CDATA #IMPLIED
>
<!ATTLIST textarea
	wicket:id CDATA #IMPLIED
>
<!ATTLIST button
	wicket:id CDATA #IMPLIED
>
<!ATTLIST fieldset
	wicket:id CDATA #IMPLIED
>
<!ATTLIST label
	wicket:id CDATA #IMPLIED
>
<!ATTLIST legend
	wicket:id CDATA #IMPLIED
>
<!ATTLIST optgroup
	wicket:id CDATA #IMPLIED
>

<!-- tables -->
<!ATTLIST caption
	wicket:id CDATA #IMPLIED
>
<!ATTLIST table
	wicket:id CDATA #IMPLIED
>
<!ATTLIST td
	wicket:id CDATA #IMPLIED
>
<!ATTLIST th
	wicket:id CDATA #IMPLIED
>
<!ATTLIST tr
	wicket:id CDATA #IMPLIED
>
<!ATTLIST col
	wicket:id CDATA #IMPLIED
>
<!ATTLIST colgroup
	wicket:id CDATA #IMPLIED
>
<!ATTLIST tbody
	wicket:id CDATA #IMPLIED
>
<!ATTLIST thead
	wicket:id CDATA #IMPLIED
>
<!ATTLIST tfoot
	wicket:id CDATA #IMPLIED
>

<!-- image -->
<!ATTLIST img
	wicket:id CDATA #IMPLIED
>

<!-- object -->
<!ATTLIST object
	wicket:id CDATA #IMPLIED
>
<!ATTLIST param
	wicket:id CDATA #IMPLIED
>

<!-- image map -->
<!ATTLIST area
	wicket:id CDATA #IMPLIED
>
<!ATTLIST map
	wicket:id CDATA #IMPLIED
>

<!-- meta information -->
<!ATTLIST meta
	wicket:id CDATA #IMPLIED
>

<!-- scripting -->
<!ATTLIST noscript
	wicket:id CDATA #IMPLIED
>
<!ATTLIST script
	wicket:id CDATA #IMPLIED
>

<!-- stylesheet -->
<!ATTLIST style
	wicket:id CDATA #IMPLIED
>

<!-- link -->
<!ATTLIST link
	wicket:id CDATA #IMPLIED
>

<!-- base -->
<!ATTLIST base
	wicket:id CDATA #IMPLIED
>

<!--Include the xhtml 1.1 specification-->
<!ENTITY % xhtml11.mod
    PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd" >
%xhtml11.mod;
